/* @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("Inter-roman.var.woff2?v=3.18") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("Inter-italic.var.woff2?v=3.18") format("woff2");
} */
body { 
    margin: 0;
    font-family: 'Sarabun' !important; 
}
*:not(.material-icons) {
    font-family: 'Sarabun' !important;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    /* line-height: 26px; */
}