<div class="flex flex-col w-full">
    <app-search (onSearch)="search($event)"></app-search>
    <br>
    <app-list 
            [items1]="items1$ | async"
            [items2]="items2$ | async"></app-list>
</div>