<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <p class="text">ทักษะผู้เรียน</p>
            <br>
            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>รหัสทักษะผู้เรียน</mat-label>
                    <input matInput [(ngModel)]="datainternal.skill_code">
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>สถานะ</mat-label>
                    <mat-select [(ngModel)]="datainternal.status_id">
                        <mat-option [value]="1">
                            ใช้งาน
                        </mat-option>
                        <mat-option [value]="0">
                            ไม่ใช้งาน
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ชื่อทักษะผู้เรียน(TH)</mat-label>
                    <input matInput [(ngModel)]="datainternal.skill_name_th">
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ชื่อทักษะผู้เรียน(EN)</mat-label>
                    <input matInput [(ngModel)]="datainternal.skill_name_en">
                </mat-form-field>
            </div>
            <br>
            <div class="flex_row_end">
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;"
                        (click)="save()">บันทึก</button>
                </div>
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; color: #20293A;" (click)="clear()">ยกเลิก</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>