<mat-card>
    <mat-card-content>
        <h1>แสดงผลรายการรายละเอียดModule</h1>
        <div>
            <table mat-table #table [dataSource]="items" style="width: 100%;">
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                    <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef> รหัสModule </th>
                    <td mat-cell *matCellDef="let element"> {{element.subject_code}} </td>
                </ng-container>

                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef> ชื่อModule </th>
                    <td mat-cell *matCellDef="let element"> {{element.subject_name_th}} </td>
                </ng-container>

                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef> คณะ </th>
                    <td mat-cell *matCellDef="let element"> {{element.faculty_name}} </td>
                </ng-container>

                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef> สถานะ </th>
                    <td mat-cell *matCellDef="let element"> 
                        <!-- {{element.status_id}}  -->
                        <div *ngIf="element.status_id == 1" >
                            ใช้งาน
                        </div>
                        <div *ngIf="element.status_id == 0" >
                            ไม่ใช้งาน
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button mat-icon-button color="primary" (click)="edit(element.subject_uid)" >
                            <mat-icon>search</mat-icon>
                        </button>
                        <!-- <button mat-icon-button color="primary" (click)="delete(element.subject_uid)" >
                            <mat-icon>clear</mat-icon>
                        </button> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>      
</mat-card>