<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <div class="flex_row_between">
                <p class="text">ชื่อกิจกรรม : {{form.course_activity_name_th}} </p>
                <p class="text" style="text-align: end;">ประเภท : บทเรียน </p>
            </div>
            <br>
            <!-- <div *ngIf="questions[0]?.question_name" style="width: 100%;">
                <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="questions[0].source_learning_video"></editor>
            </div> -->
            <div style="width: 100%;">
                <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="form.source_learning_video"></editor>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <div class="flex_row_end">
               
        <div class="p-1">
            <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="save()">บันทึก</button> 
        </div>
         <div class="p-1">
            <button mat-raised-button  style="width: 150px; color: #20293A;" (click)="clear()">ยกเลิก</button>
         </div>
    </div>
</div>
