<mat-card>
    <mat-card-content>
        <h1>อาจารย์ผู้สอน</h1>
        <br>
        <div class="flex_row_between">
            <mat-form-field style="width: 48%;" appearance="outline">
                <mat-label>ชื่ออาจารย์</mat-label>
                <input matInput>
                <!-- <input #fee type="text" placeholder="Pick one" aria-label="Number" matInput
                    [(ngModel)]="search.subject_uid" [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displaysubj.bind(this)">
                    <mat-option *ngFor="let room of subj | searchInputAuto : search.subject_uid : 'subject_name_th'"
                        [value]="room.subject_uid">
                        {{room.subject_name_th}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
            
        </div>
        <div class="flex_row_end">
            <div class="p-1">
                <button mat-raised-button style="width: 150px; color: #20293A;" (click)="Search()">ค้นหา</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>