<mat-card>
    <mat-card-content>
        <h1>จัดการรอบและนักศึกษาที่ลงทะเบียน</h1>
        <br>
        <div class="flex_row_between">
            <mat-form-field style="width: 48%;" appearance="outline">
                <mat-label>Module</mat-label>
                <input #fee type="text" placeholder="Pick one" aria-label="Number" matInput
                    [(ngModel)]="search.subject_uid" [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displaysubj.bind(this)">
                    <mat-option *ngFor="let room of subj | searchInputAuto : search.subject_uid : 'subject_name_th'"
                        [value]="room.subject_uid">
                        {{room.subject_name_th}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field style="width: 48%;" appearance="outline">
                <mat-label>คณะ</mat-label>
                <mat-select [(ngModel)]="search.faculty_name">
                        <mat-option *ngFor="let data of fac" [value]="data.faculty_name">
                            {{data.faculty_name}}
                        </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div class="flex_row_end">
            <!-- <div class="p-1">
                <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="add()">เพิ่มรายการ</button> 
            </div> -->
             <div class="p-1">
                <button mat-raised-button  style="width: 150px; color: #20293A;" (click)="Search()">ค้นหา</button>
             </div>
        </div>
    </mat-card-content>
</mat-card>
