<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <p class="text">รายละเอียดModule</p>
            <br>
            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>รหัสModule</mat-label>
                    <input matInput [(ngModel)]="datainternal.subject_code">
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ชื่อModule</mat-label>
                    <input matInput [(ngModel)]="datainternal.subject_name_th">
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>คณะ</mat-label>
                    <input matInput [(ngModel)]="datainternal.faculty_name">
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>อาจารย์ผู้สอน</mat-label>
                    <input matInput [(ngModel)]="datainternal.instructor_name">
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ภาษาที่ใช้</mat-label>
                    <input #fee type="text" placeholder="ภาษาที่ใช้" aria-label="Number" matInput
                        [(ngModel)]="datainternal.language_uid" [matAutocomplete]="auto3">
                    <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displaylang.bind(this)">
                        <mat-option
                            *ngFor="let room of lang | searchInputAuto : datainternal.language_uid : 'language_name_th'"
                            [value]="room.language_uid">
                            {{room.language_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ทักษะผู้เรียน</mat-label>
                    <input #skill1 type="text" placeholder="ทักษะผู้เรียน" aria-label="Number" matInput
                        [(ngModel)]="datainternal.skill_uid" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayskill.bind(this)">
                        <mat-option
                            *ngFor="let room of skill | searchInputAuto :  datainternal.skill_uid  : 'skill_name_th'"
                            [value]="room.skill_uid">
                            {{room.skill_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>Certificate</mat-label>
                    <mat-select [(ngModel)]="datainternal.is_certificate_reward">
                        <mat-option [value]="true">
                            มี
                        </mat-option>
                        <mat-option [value]="false">
                            ไม่มี
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>สถานะ</mat-label>
                    <mat-select [(ngModel)]="datainternal.status_id">
                        <mat-option [value]="1">
                            ใช้งาน
                        </mat-option>
                        <mat-option [value]="0">
                            ไม่ใช้งาน
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <p class="text">คำอธิบายรายModule</p>

            <div class="flex_row_between">
                <!-- <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="qu.answer_question"></editor> -->
                <div style="width: 100%;">
                    <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="datainternal.subject_description_detail"></editor>
                </div>
            </div>
            <br>
            <h1 class="text">วัตถุประสงค์การเรียนรู้</h1>
            <div class="flex_row_between">
                <!-- <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="qu.answer_question"></editor> -->
                <div style="width: 100%;">
                    <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="datainternal.subject_purpose"></editor>
                </div>
            </div>
            <br>
            <br>
            <div class="flex_row">
                <div style="width: 15%;" class="text">
                    Upload รูป cover
                </div>
                <div style="width: 15%;">
                    <img  [src]="datainternal.subject_image" alt="" style="width: 100px;height: 100px;border: 1px grey solid;" (click)="preview()">
                </div>
                <div  style="width: 20%;">
                    <div >
                        <button mat-raised-button (click)="input.click()"
                            style="width: 150px; background-color: #20293A; color: white;">
                            Upload
                        </button>
                        <input type="file" #input style="display: none;" (change)="upload($event)">
                    </div>
                    
                </div>
                <div class="flex_row" style="width: 48%;" >
                    <div *ngIf="fileName" style="width: 65%;" class="text">
                        {{fileName}}
                    </div>
                    <div style="width: 25%;">
                        <button mat-icon-button color="primary" (click)="delete()">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="flex_row">
                <div style="width: 15%;" class="text">
                    Upload รูป banner
                </div>
                <div style="width: 15%;">
                    <img  [src]="datainternal.subject_banner_image" alt="" style="width: 100px;height: 100px;border: 1px grey solid;" (click)="preview2()">
                </div>
                <div  style="width: 20%;">
                    <div >
                        <button mat-raised-button (click)="input2.click()"
                            style="width: 150px; background-color: #20293A; color: white;">
                            Upload
                        </button>
                        <input type="file" #input2 style="display: none;" (change)="upload2($event)">
                    </div>
                    
                </div>
                <div class="flex_row" style="width: 48%;" >
                    <div *ngIf="fileName2" style="width: 65%;" class="text">
                        {{fileName2}}
                    </div>
                    <div style="width: 25%;">
                        <button mat-icon-button color="primary" (click)="delete2()">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="flex_row_end">
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;"
                        (click)="save()">บันทึก</button>
                </div>
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; color: #20293A;" (click)="clear()">ยกเลิก</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>