<div class="flex flex-col w-full">
    <form [formGroup]="form">
        <mat-card>
            <mat-card-content>
                <p class="text">เพิ่มบท</p>
                <div class="flex_row_between">
                    <mat-form-field style="width: 10%;" appearance="outline">
                        <mat-label>No</mat-label>
                        <input matInput formControlName="row_no">
                    </mat-form-field>
                    <mat-form-field style="width: 87%;" appearance="outline">
                        <mat-label>ชื่อบท</mat-label>
                        <input matInput formControlName="course_name_th">
                    </mat-form-field>
                </div>
                <br>
                <ng-container formArrayName="course_activitys">
                    <p class="text">โครงสร้าง</p>
                    <ng-container
                        *ngFor="let item of form['controls']['course_activitys']['controls'] | sortItems : 'row_no';let index = index"
                        [formGroupName]="index">
                        <div class="flex_row_between">
                            <!-- <div>{{index+1}}</div> -->
                            <!-- <div>{{item.row_no}}</div> -->
                            <mat-form-field style="width: 8%;" appearance="outline">
                                <mat-label>No</mat-label>
                                <input type="number" matInput formControlName="row_no" >
                            </mat-form-field>
                            <mat-form-field style="width: 35%;" appearance="outline">
                                <mat-label>ชื่อกิจกรรม</mat-label>
                                <input matInput formControlName="course_activity_name_th" >
                            </mat-form-field>
                            <mat-form-field style="width: 15%;" appearance="outline">
                                <mat-label>ประเภท</mat-label>
                                <mat-select formControlName="activity_uid">
                                        <mat-option *ngFor="let data of activity" 
                                        [value]="data.activity_uid"
                                        >
                                            {{data.activity_name_th}}
                                        </mat-option>
                                </mat-select>
                            </mat-form-field> 
                            <div style="width: 9%;" class="flex_row">
                                <!-- *ngIf="item.value.course_activity_uid" -->
                                <div *ngIf="item.value.course_activity_uid">
                                    <button  mat-icon-button color="primary" (click)="search(item)">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="!item.value.course_activity_uid" >
                                    <button  mat-icon-button color="primary" (click)="map(item,index)">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button color="primary" (click)="removeForm(index)">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div style="width: 20%;">
                                <div >
                                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="add(item)">สร้างเนื้อหา</button> 
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="flex_row_end">
                        <button mat-icon-button color="primary" (click)="addForm()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </ng-container>
                   
                
                
            </mat-card-content>
        </mat-card>
    </form>
    <br>
    <div class="flex_row_end">
        <div >
            <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="back()">กลับ</button> 
        </div>
    </div>

</div>