<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <h1>รายชื่อผู้ลงทะเบียน</h1>
            <div>
                <table mat-table #table [dataSource]="itemDatas" style="width: 100%;">
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef> หมายเลขบัตร </th>
                        <td mat-cell *matCellDef="let element"> {{element.user_uid}} </td>
                    </ng-container> -->
    
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef> ชื่อ - นามสกุล </th>
                        <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef> ประเภทผู้เรียน </th>
                        <td mat-cell *matCellDef="let element"> {{element.fac}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef> เบอร์โทรศัพท์ </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.major}} 
                        </td>
                    </ng-container> -->
    
                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.email}} 
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="7">
                        <th mat-header-cell *matHeaderCellDef> สถานะ </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.is_complete" style="color: green;">Complete</div>
                            <div *ngIf="!element.is_complete" style="color: red;">Not complete</div>
                        </td>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="7">
                        <th mat-header-cell *matHeaderCellDef> Progress </th>
                        <td mat-cell *matCellDef="let element"> 
                            
                            <mat-progress-bar mode="determinate" color="primary" [value]="element.Progress"></mat-progress-bar>
                            {{element.Progress + '% completed'}}
                        </td>
                    </ng-container> -->
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>

