/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.mce-notification {display: none !important;}
.tox-notifications-container {display: none  !important;}
.flex_col {
    display: flex;
    flex-flow: column;
    
    &_center {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

.flex_row {
    display: flex;
    flex-flow: row;
    flex-flow: row wrap;

    &_between {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    &_center {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &_end {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;        
    }

}