<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <h1>รายละเอียดรอบการรับสมัคร</h1>
            <div class="flex_row_between">
                <div style="width: 48%;" class="flex_row_between">
                    <mat-form-field style="width: 48%;" appearance="outline">
                        <mat-label>รอบลงทะเบียน</mat-label>
                        <input matInput [(ngModel)]="form.rgisNum">
                        <!-- <input matInput [(ngModel)]="form.pre_test_question_number"> -->
                    </mat-form-field>
                    <mat-form-field style="width: 48%;" appearance="outline">
                        <mat-label>จำนวนรับทั้งหมด</mat-label>
                        <input matInput [(ngModel)]="form.numall">
                        <!-- <input matInput [(ngModel)]="form.pre_test_question_number"> -->
                    </mat-form-field>
                </div>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ประเภทผู้ลงทะเบียน</mat-label>
                    <input matInput [(ngModel)]="form.type">
                    <!-- <input matInput [(ngModel)]="form.pre_test_question_number"> -->
                </mat-form-field>
            </div>
            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>วันที่เปิดลงทะเบียน</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>วันที่ปิดลงทะเบียน</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <mat-card>
                <mat-card-content>
                    <h1>รายชื่อผู้ลงทะเบียน</h1>
                    <div>
                        <table mat-table #table [dataSource]="itemDatas" style="width: 100%;">
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef> รหัสนักศึกษา </th>
                                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                            </ng-container>

                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef> ชื่อ - นามสกุล </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef> คณะ </th>
                                <td mat-cell *matCellDef="let element"> {{element.fac}} </td>
                            </ng-container>

                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef> สาขา </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.major}}

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="6">
                                <th mat-header-cell *matHeaderCellDef> Progress </th>
                                <td mat-cell *matCellDef="let element">

                                    <mat-progress-bar mode="determinate" color="primary" [value]="element.Progress">
                                    </mat-progress-bar>
                                    {{element.Progress + '% completed'}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">

                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;"
                        (click)="save()">บันทึก</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>