<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <h1>แสดงผลรายการรอบลงทะเบียน : ENG3090</h1>
            <div>
                <table mat-table #table [dataSource]="items" style="width: 100%;">
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef> รอบลงทะเบียน </th>
                        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef> วันที่เปิดลงทะเบียน </th>
                        <td mat-cell *matCellDef="let element"> {{element.day1}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef> วันที่ปิดลงทะเบียน </th>
                        <td mat-cell *matCellDef="let element"> {{element.day2}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef> ประเภทผู้ลงทะเบียน </th>
                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef> จำนวนรับ </th>
                        <td mat-cell *matCellDef="let element"> 
                            {{element.num1}} 
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef> ลงทะเบียนแล้ว </th>
                        <td mat-cell *matCellDef="let element"> {{element.num2}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="7">
                        <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button mat-icon-button color="primary" (click)="edit()" >
                                <mat-icon>search</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="delete(element.subject_uid)" >
                                <mat-icon>clear</mat-icon>
                            </button>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="flex_row_end">
               
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="Search()">เพิ่มรอบ</button> 
                </div>
            </div>
        </mat-card-content>      
    </mat-card>
    

</div>
