<div class="flex_row_end">
    <button mat-icon-button (click)="closePopup()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<iframe [src]="urlDoc | safeHtml" frameborder="0" style="width: 100%;height: 100%;"></iframe>
