<mat-card>
    <mat-card-content>
        <h1>ทักษะผู้เรียน</h1>
        <br>
        <div class="flex_row_between">
            <mat-form-field style="width: 48%;" appearance="outline">
                <mat-label>ชื่อทักษะผู้เรียน</mat-label>
                <input #fee type="text" placeholder="Pick one" aria-label="Number" matInput
                    [(ngModel)]="search.skill_uid" [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayskill.bind(this)">
                    <mat-option *ngFor="let room of skill | searchInputAuto : search.skill_uid : 'skill_name_th'"
                        [value]="room.skill_uid">
                        {{room.skill_name_th}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="flex_row_end">
            <div class="p-1">
                <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="add()">เพิ่มรายการ</button> 
            </div>
             <div class="p-1">
                <button mat-raised-button  style="width: 150px; color: #20293A;" (click)="Search()">ค้นหา</button>
             </div>
        </div>
    </mat-card-content>
</mat-card>
