<mat-card>
    <mat-tab-group>
        <mat-tab label="รออนุมัติ" >
            <div>
                <table mat-table #table [dataSource]="items1" matSort style="width: 100%;">
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef> ชื่อ - นามสกุล </th>
                        <td mat-cell *matCellDef="let element"> {{element.citizen_no}} </td>
                    </ng-container>

                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef> รหัสModule </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef> ชื่อModule </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_name_th}} </td>
                    </ng-container>

                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef> วันที่ยื่นคำร้อง </th>
                        <td mat-cell *matCellDef="let element"> {{element.created_datetime | thaidate}} </td>
                    </ng-container>


                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="edit(element.subject_uid)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="อนุมัติแล้ว" >
            <div>
                <table mat-table #table [dataSource]="items2" matSort style="width: 100%;">
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef> ชื่อ - นามสกุล </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef> รหัสModule </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef> ชื่อModule </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_name_th}} </td>
                    </ng-container>

                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef> วันที่ยื่นคำร้อง </th>
                        <td mat-cell *matCellDef="let element"> {{element.faculty_name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="edit(element.subject_uid)">
                                <mat-icon>search</mat-icon>
                            </button>
                            <!-- <button mat-icon-button color="primary" (click)="delete(element.subject_uid)" >
                                        <mat-icon>clear</mat-icon>
                                    </button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                    </tr>
                </table>
                <mat-paginator #bar2 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="ไม่อนุมัติ">
            <div>
                <table mat-table #table [dataSource]="items3"  matSort  style="width: 100%;">
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef> ชื่อ - นามสกุล </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef> รหัสModule </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef> ชื่อModule </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_name_th}} </td>
                    </ng-container>

                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef> วันที่ยื่นคำร้อง </th>
                        <td mat-cell *matCellDef="let element"> {{element.faculty_name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="edit(element.subject_uid)">
                                <mat-icon>search</mat-icon>
                            </button>
                            <!-- <button mat-icon-button color="primary" (click)="delete(element.subject_uid)" >
                                        <mat-icon>clear</mat-icon>
                                    </button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
                    </tr>
                </table>
                <mat-paginator #bar3 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>

</mat-card>